NUXT_PUBLIC_DIRECTUS_URL="http://localhost:8055"
NUXT_PUBLIC_SUPER_ADMIN_ROLE_ID="Insert Role ID here"
NUXT_PUBLIC_ADMIN_ROLE_ID="Insert Role ID here"
NUXT_PUBLIC_MODERATOR_ROLE_ID="Insert Role ID here"
NUXT_PUBLIC_USER_ROLE_ID="Insert Role ID here"