.icon {
    @apply bg-current inline-block;
}

.icon-upload {
    mask: url('/svg/icons/upload.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-discord {
    mask: url('/svg/icons/discord.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-instagram {
    mask: url('/svg/icons/instagram.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-mail {
    mask: url('/svg/icons/mail.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}
