.Toastify__toast-theme--colored {
    --toastify-color-success: var(--color-light-green);
    --toastify-color-error: var(--color-rose-red);
    --toastify-text-color-error: var(--color-dark-navy);
    --toastify-text-color-success: var(--color-dark-navy);

    --toastify-color-progress-success: var(--color-emerald-blue);
    --toastify-color-progress-error: var(--color-skin-orange);
    --toastify-font-family: var(--font-poppins)
}

